body {
    --bg: #fff;
    --linkText: #0086F6;
    --titleText: #333;
    --contentText: #333;
    --descText: #cccccc;
    --transportText: #fff;
    --lineColor: #e8e8e8;
    background-color: var(--bg);
}
body.dark {
    --bg: #121212;
    --linkText: #2a88d7;
    --titleText: #cccccc;
    --contentText: #cbcbcb;
    /*--descText: #909090;*/
    --descText: #666666;
    --transportText: #121212;
    --lineColor: #212121;
}