photo{
    width: 84vw;
    margin-left:8vw;
    margin-right: 8vw;
}
photo section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: var(--pHeight) !important;
}
@media only screen and (max-width: 640px) {
    photo{
        width: 92vw;
        margin-left:4vw;
        margin-right: 4vw;
    }
    photo section{
        flex-direction: column;
    }
}
photo section p{
    margin-bottom: 3em;
    color: var(--contentText);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    user-select: none;
    font-size: var(--pSize) !important;
    line-height: var(--pHeight) !important;
    /*font-weight: var(--medium);*/
    /*font-family: 'Noto Serif SC', serif;*/
}
photo section p img{
    align-items: center;
    user-select: none;
    /*image在safari上变形*/
    height: 100%;
    width:100%;
    object-fit: cover;
}

body[class='dark'] photo section p{
    /*color: #979797;*/
}


photo section p:nth-child(2){
    width: 30vw;
    max-width: 380px;
    margin-right: 4vw;
}
@media only screen and (max-width: 640px) {
    photo section p:nth-child(2){
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }
}
photo section p:nth-child(3){
    flex:1;
}